@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: #000000;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.titulo_destaque {
    color: #22d4fd;
}

/* O que eu fiz sozinho! */

.conteudo {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__container {
    width: 615px;
}

.conteudo__container h1 {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 40px;
}

.conteudo__container p {
    font-size: 24px;
    margin-bottom: 51px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    width: 280px;
    padding: 16px 0;
    background-color: #22d4fd;
    color: #000000;
    text-decoration: none;
    border: 1px solid #22d4fd;
    border-radius: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
